.product-header {
  border-bottom: 1px solid  #232323;
  .app-product-item-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

}
.product-footer {
  border-top: 1px solid #232323;
}

